[mysqld]
datadir = /var/lib/mysql
socket = /var/run/mysqld/mysqld.sock
log-error = /var/log/mysql/error.log
pid-file = /var/run/mysqld/mysqld.pid

# Added for Docker
skip-host-cache
skip-name-resolve

# Data directory configuration
innodb_data_home_dir = /var/lib/mysql
innodb_data_file_path = ibdata1:10M:autoextend
innodb_log_group_home_dir = /var/lib/mysql
innodb_log_files_in_group = 2
innodb_log_file_size=128M
max_allowed_packet=64M

# Use the following to bind to all IP addresses
#bind-address = 0.0.0.0

# Use the following to enable remote connections
#skip-networking=0